/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: 'Montserrat';
  src: asset_url('Montserrat-Regular.ttf') format('truetype'),
  font_url('Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VarelaRound';
  src: asset_url('VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: VarelaRound;
  color: #2E2F30;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: sans-serif;

  #header {
	//background: #2E2F30;
	background-color: #2E2F30;
	min-height: 5em;
	border-top: 5px solid #e84444;

	#logo {
	  float: left;
	  min-height: 100%;
	  max-height: 100%;
	  margin-left: 15%;
	}
	#header_title {
	  float: left;
	  margin-right: 2em;
	  margin-left: 1em;

	  height: 5em;
	  a {
		color: white;
		font-family: Montserrat, sans-serif;
		font-size: 32px;
		text-decoration: none;

		position: relative;
		top: 25%;

		//line-height: 2em;
	  }
	}
	#banner_links {
	  .banner_link {
		height: 5em;
		float: right;
		//line-height: 5em;
		a {
		  position: relative;
		  top: 30%;

		  color: white;
		  text-decoration: none;
		  font-size: large;

		  margin-left: 1em;
		  margin-right: 1em;
		}
		a:hover {
		  background-color: #8c2828;
		}
		img {
		  position: relative;
		  top: 25%;
		}
		form {
		  position: relative;
		  top: 10%;

		  display: inline;

		  margin-left: 1em;
		  margin-right: 1em;
		  #search_icon {
			position: relative;
			top: 15%;
		  }
		}
	  }
	  .banner_link:hover {
		background-color: #8c2828;
		//background: #8c2828;
	  }
	  margin-right: 15%;
	}
  }
  #content {
	clear: both;
	//margin: 1em 5em;
  }

  #footer {
	clear: both;
	background: #2E2F30;
	height: 5em;

	border-bottom: 5px solid #e84444;
	p{
	  position: relative;
	  top: 40%;

	  color: white;
	  font-size: small;

	  margin-right: 15%;
	  float: right;
	}
	#woodstock {
	  position: relative;
	  top: 30%;
	  float: right;
	}
  }
}