<head>
<meta charset="UTF-8" />
<title th:text="${page_title}">RBlog</title>
<link href="/css/application.css" rel="stylesheet" type="text/css" />
<link href="/css/posts.css" rel="stylesheet" type="text/css" />
<link href="/css/form.css" rel="stylesheet" type="text/css" />
<link href="/css/sessions.css" rel="stylesheet" type="text/css" />
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/javascripts/application.js"></script>
</head>