<div id="header">
	<%= logo_image_link %>
	<div id="header_title">
		<%= link_to 'RBlog', :root %>
	</div>
	<div id="banner_links">
		<div class="banner_link" id="login_link">
			<% if current_user %>
			<%= link_to "#{current_user.email} - Esci", :log_out, :id => 'log_out_link' %>
			<% else %>
			<%= link_to 'Login', :log_in, :id => 'log_in_link' %>
			<% end %>
		</div>
		<div class="banner_link" id="author_link">
			<%= link_to 'Autore', :author %>
		</div>
		<div class="banner_link" id="abstract_link">
			<%= link_to 'Abstract', :abstract %>
		</div>
		<div class="banner_link"
		     id="search_link">
			<%= form_tag(:root, method: 'get') do %>
			<input type="text" placeholder="Ricerca fra i post..."
			       id="search_input_text" name="search">
			<%= image_submit_tag('search_32.png',
			:alt => 'Ricerca',
			:id => 'search_icon') %>
			<% end %>
		</div>
	</div>
</div>