// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions{
  #content{

	#flashnotice{
	  margin: 1em 40%;
	  font-size: large;
	  font-family: Montserrat, sans-serif;
	  color: #8c2828;
	}
	form{
	  margin: 1em 40%;
	}
  }
}