<div class='post' th:each="post : ${posts}">
	<p class="post_title">
		<a th:href="|/posts/${post.id}|" th:text="${post.title}"></a>
	</p>

	<div class="post_detail" th:text="${post.creationDetail()}"></div>
	<div class="post_detail" th:text="${post.author.authorDetail()}"></div>

	<div class="post_content" th:if="${shortener}">
		<p class="post_content"
			th:text="${#strings.abbreviate(post.body, 500)}"></p>
		<a th:if="${post.body.length()} > 500" th:href="|/posts/${post.id}|">Leggi il resto</a>
	</div>
	<p class="post_content" th:unless="${shortener}" th:text="${post.body}"></p>

	<div class="post_actions" th:if="${session.author_id}">
		<form class="post_action" th:method="post"
			th:action="|/posts/${post.id}/edit|" rel="nofollow">
			<input type="image" alt="Aggiorna" border="0" height="32"
				src="/images/write.png" th:title="'Aggiorna '+${post.title}"
				width="32" />
		</form>
		<form class="post_action" th:method="delete"
			th:action="|/posts/${post.id}|" rel="nofollow">
			<input type="image" alt="Rimuovi" border="0" src="/images/remove.png"
				th:title="'Rimuovi '+${post.title}" height="32" width="32" />
		</form>
	</div>
</div>