.posts #notice {
	margin: 1em 15%;
	text-align: center;
}

.posts #notice p {
	color: forestgreen;
}

.posts #new_post_action {
	text-align: center;
}

.posts .post {
	margin: 1em 15%;
	border-bottom: 1px solid #BBBBBB;
	overflow: auto;
	font-family: sans-serif;
}

.posts .post .post_title a {
	text-decoration: none;
	font-size: 24px;
	margin-bottom: 12px;
	line-height: 35px;
	font-family: Montserrat, sans-serif;
	color: #34302d;
}

.posts .post_detail {
	color: #666666;
}

.posts .post_content {
	
}

.posts .post_actions {
	margin-bottom: .5em;
	float: right;
}